@import url(font/font.css);

body {
  background: #000;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  /*font-family: BentonSans-Boxld, 'Avenir', Helvetica-Neue, sans-serif;*/
  font-family: 'Avenir', Helvetica-Neue, sans-serif;
  /*font-weight: 100;*/
  text-transform: none;
  text-align: left
}

.reveal table {
  font-family: monospace;
  text-align: right;
  font-size: .8em;
}

.reveal table .c {
  font-size: 0em;
  transition: font-size .2s
}

.reveal table.show-colors .c {
  font-size: 1em;
  /*font-size: inherit*/
}


.reveal pre {
  box-shadow: none;
}

.hljs {
  background: none;
}

hr {
  border: none;
  border-bottom: 1px solid #fff;
}

.reveal .over {
  position: absolute;
  opacity: 0.5
}
canvas {
  /*background: #fc0;*/
  margin:0;
}
/*.reveal section {
  padding:0;
}*/

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

#TRIANGLES *, #TRIANGLE_STRIP_2 *, #TRIANGLE_STRIP *, #POINTS_2 *{
  transition: .3s
}

#TRIANGLES * {opacity: 0}
#TRIANGLE_STRIP_2 * {opacity: 0}
#TRIANGLE_STRIP * {opacity: 0}
#POINTS_2 * {opacity: 0}
